<main>
  <div class="row g-5"></div>
  <div class="col-md-7 col-lg-8">
    <h4 class="mb-3">Create Users</h4>
    <!-- panggil createnya -->
    <form
      class="needs-validation"
      novalidate=""
      action="/dashboard/admin/users/create"
      method="POST"
      enctype="multipart/form-data"
    >
      <div class="row g-3">
        <div class="col-sm-6">
          <label for="firstName" class="form-label">First name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            value=""
            required
          />
          <div class="invalid-feedback">Valid first name is required.</div>
        </div>

        <div class="col-sm-6">
          <label for="photo" class="form-label">Photo profile</label>
          <input
            type="file"
            class="form-control"
            id="photo"
            name="photo"
            value=""
            required
          />
          <div class="invalid-feedback">Valid photo is required.</div>
        </div>

        <div class="col-sm-6">
          <label for="age" class="form-label">Age</label>
          <input
            type="number"
            class="form-control"
            id="age"
            name="age"
            value=""
            required
          />
          <div class="invalid-feedback">Valid age is required.</div>
        </div>

        <div class="col-sm-6">
          <label for="phoneNumber" class="form-label">Phone number</label>
          <input
            type="tel"
            class="form-control"
            id="phoneNumber"
            name="phoneNumber"
            value=""
            required
          />
          <div class="invalid-feedback">Valid phone number is required.</div>
        </div>
      </div>

      <button class="w-100 btn btn-primary btn-lg" type="submit">
        Continue to checkout
      </button>
    </form>
  </div>
</main>
